.cart-section {
  width: 1200px;
  margin: 0 auto;
  margin-top: 1rem;
  
}
.line {
  border-bottom: 1px solid #e1e1e1;
  margin: 1rem 0;
}

.table{
overflow-x:auto;
}
.thead {
  font-weight: normal;
  color: #999;
  text-align: left;
  padding-bottom: 1rem;
}

.prod-des-col {
  width: 500px;
}

.prod-des {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.prod-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 1em;
}

.prod-name {
  font-weight: 600;
  font-size: 14px;
}

.prod-row {
  color: #555;
  padding-bottom: 10px;

}
.prod-details-col {
  width: 500px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
}
.prod-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.prod-remove {
  font-size: 14px;
  color: #fa5252;
  cursor: pointer;
}

.quantity-col {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-col button {
  border: 1px solid #e1e1e1;
  padding: 0.5rem;
  cursor: pointer;
}

.tab-col {
  width: 200px;
}



.checkout-btn{
  width: 100px;
  padding:1rem;
  background-color: #fd7e14;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}


